#DS_Store files
.DS_Store

# Compiled Object files
*.o

# Compiled Static libraries
*.a

# CLion files
.idea
.iml

# build directory
build/*

# CMake Files
Config.h
Makefile
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
lib/CMakeFiles/*
lib/Makefile
lib/cmake_install.cmake
src/CMakeFiles/*
src/Makefile
src/cmake_install.cmake

# Output Files
BrewTroller-*.hex
BrewTroller-*.elf
BrewTroller-*.map
